Source: ros-kilted-four-wheel-steering-msgs
Section: misc
Priority: optional
Maintainer: Vincent Rousseau <vincentrou@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-rosidl-default-generators, ros-kilted-std-msgs, ros-kilted-ros-workspace, ros-kilted-rosidl-typesupport-fastrtps-c, ros-kilted-rosidl-typesupport-fastrtps-cpp
Homepage: http://ros.org/wiki/four_wheel_steering_msgs
Standards-Version: 3.9.2

Package: ros-kilted-four-wheel-steering-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-rosidl-default-runtime, ros-kilted-std-msgs, ros-kilted-ros-workspace
Description: ROS messages for robots using FourWheelSteering.
